/* This is a CSS-style comment */
/* The pre-defined colour names are from http://www.w3schools.com/cssref/css_colornames.asp */ 
body {
	font-family: Merriweather;
	text-align: Justify;
	font-style: italic;
	padding-left: 20%;
	padding-right: 20%;
	
}

p { color: LightSlateGray;

	line-height: 1.5em;	
	font-size: 125%
}

.line1 {
    border-top: 1px dashed LightSlateGray;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -2;
   
}



h1 {text-align: center;
	color: plum;
	text-transform: uppercase;}
	
h3 {text-align: center;
	color: plum;
}
#big-achievement {
	color: Red}

h2	
	{ text-align: right;
	color: plum;
	border-bottom: 1px dotted LightSlateGray;

}

hr {color: LightSlateGray;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 1px;
	color: LightSlateGray;	}

#diffeng {
		font-style: italic;
		}		


b, strong {color: plum } 

/* 
	The default for em tends to be italics, but it's good to be explicit.
	Our em is going to be both italic and bold.
 */
/*i, em { 
	font-style: italic; 
	font-weight: bold; 
}

i, b, em,  {  }
*/