/* This is a CSS-style comment */
/* The pre-defined colour names are from http://www.w3schools.com/cssref/css_colornames.asp */ 
body {
	text-align: Justify;
	font-style: italic;
	
	
}

p { font-family: Georgia;
	color: LightSlateGray;
	padding: 50px 20%;
	line-height: 1.5em;	
	font-size: 125%
}

.line1 {
    border-top: 1px dashed LightSlateGray;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -2;
   
}

#break1 {
	margin-right: 600px;
	margin-left: 600px;
	color: LightSlateGray;
	
}

#break2 {
	border-top: 1px dashed;
	color: LightSlateGray;
	margin-left: 1000px;
	margin-right: 375px;
	color: LightSlateGray;
}

h1 {text-align: center;
	margin-right: 400px;
	margin-left: 400px;
	color: plum;}
	
h3 {text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	color: plum;
}

h2	
	{ text-align: right;
	color: plum;
	margin-right: 375px;
	margin-bottom: 1px;
}

hr {color: LightSlateGray;
	margin-right: 1px;
	margin-left: 500px;
	margin-top: 1px;	}




b, strong {color: plum } 

/* 
	The default for em tends to be italics, but it's good to be explicit.
	Our em is going to be both italic and bold.
 */
/*i, em { 
	font-style: italic; 
	font-weight: bold; 
}

i, b, em,  {  }
*/