/* This is a CSS-style comment */
/* The pre-defined colour names are from http://www.w3schools.com/cssref/css_colornames.asp */ 
body {
	
	
	
	
}

p { font-family: Georgia;
	color: LightSlateGray;
	padding-left: 20%;
	padding-right: 20%;	
	line-height: 1.5em;	
	font-size: 125%
}

#break1 {margin-right: 550px;
	margin-left: 550px;
	color: LightSlateGray;
	style="border: 1px dashed black
}

#break2 {margin-right: 550px;
	margin-left: 550px;
	color: LightSlateGray;
}

h1 {text-align: center;
	margin-right: 800px;
	margin-left: 800px;
	color: plum;}
	
h3 {text-align: center;
	margin-right: 700px;
	margin-left: 800px;
	color: plum;
}

h2	
	{ text-align: right;
	color: plum;
	margin-right: 375px;
	margin-bottom: 1px;
}

hr {color: LightSlateGray;
	padding-left: 20%;
	padding-right: 20%;
	text-align: justify;
	margin-right: 375px;
	margin-left: 375px;
	margin-top: 1px;	}




b, strong {color: plum } 

/* 
	The default for em tends to be italics, but it's good to be explicit.
	Our em is going to be both italic and bold.
 */
/*i, em { 
	font-style: italic; 
	font-weight: bold; 
}

i, b, em,  {  }
*/